/*-- login --*/

.login-right{
    margin-top: 10%;
  }
  
    .login-right input[type="text"], .login-right input[type="password"] {
      width: 100%;
      padding: 10px;
      font-weight: normal;
      background: none;
      border: 1px solid #c1bfbf;
      color: #df9722;
      outline: none;
      font-size: 14px;
      margin: 6px 0 17px 0px;
    }
    
    .login-right input[type="text"]:hover, .login-right input[type="password"]:hover, .login-right input[type="email"]:hover {
      border: 1px solid #df9722;
    }
    
    .login-right h4{
      text-align: start;
      color: #000000;
      font-size: 14px;
      margin: 0 0 0px 0;
    }
    
  
  
    .login-right input[type="submit"]{
      background: #134895 ;
      color: #fff;
      font-size: 17px;
      border: none;
      width: 100%;
      outline: none;
      padding: 8px 15px 9px 15px;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
    }
    
    .login-right input[type="submit"]:hover{
      background: #df9722;
      color: #000000;
    }
    
    .login-right h3 {
      color: #df9722;
      font-size: 22px;
      margin-bottom: 23px;
    }
    
    .login-right h6 {
      color: #df9722;
      font-size: 15px;
      margin-bottom: 23px;
    }
    
    .sign-in a,p {
      font-size: 13px;
      color: rgb(48, 46, 46);
      cursor: pointer;
      text-decoration: none;
    }
    .sign-in p{
      text-align: right;
    }
  
    .sign-in a:hover{
      color: #df9722;
    }
    
    .sign-in p:hover{
      color: #df9722;
    }
    .single-bottom {
      margin: 14px 0 22px;
    }
    
    .single-bottom label {
      margin-left: 5px;
    }
  
    .single-bottom label:hover {
      color: #df9722;
  
    }
    
    .single-bottom input, .single-bottom label {
      cursor: pointer;
    }
    
    /*-- //login --*/